 /* The sidebar menu */
 .container {
   height: 100%;
   width: 260px;
   padding: 16px;

   overflow-x: hidden;
   position: fixed;
   z-index: 1;

   top: 60px;
   right: 0;

   background-color: var(--light-gray-color);
   border-left: 1px solid var(--mid-gray-color);

   display: flex;
   flex-direction: column;
 }

 .menu-container {
   margin-bottom: 16px;
   font-size: 22px;
 }

 .sub-sidemenu-container {
   margin-left: 32px;
   margin-top: 8px;

   font-size: 18px;

   display: flex;
   flex-direction: column;
 }

 .sub-sidemenu-container a {
   margin-bottom: 8px;
 }

 .menu-container a[href]:hover {
   color: var(--primary-color)
 }