:root {
  --primary-color: #4f46e5;
  --dark-gray-color: #404040;
  --gray-color: #737373;
  --mid-gray-color: #d4d4d4;
  --light-gray-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-gray-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.page-content {
  width: calc(100% - 200px);
  padding: 64px;
}

a {
  color: var(--dark-gray-color);
  text-decoration: none;
}