<div class="container">
  <form (ngSubmit)="onSubmit()" #userLoginForm="ngForm">
    <h3 class="form-title">Login</h3>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="userModel.username" name="username"
        #name="ngModel">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="userModel.password"
        name="password">
    </div>

    <div class="captcha">
      <re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)"
        siteKey="6Lckal0pAAAAAKdclaoCav_rlUQhL35_nuPgHyla"></re-captcha>
    </div>

    <div class="error-message" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!userLoginForm.form.valid || !captcha">
      {{isSubmitting ? "Loading" : "Submit"}}
    </button>
  </form>
</div>