.container {
  color: var(--primary-color);
  background-color: var(--light-gray-color);
  border-bottom: 1px solid var(--mid-gray-color);

  width: 100%;
  height: 60px;
  top: 0;

  padding: 0 16px;

  display: flex;
  align-items: center;

  position: sticky;
}